<div class="wrapper" id="gear_items_ajax">
	<%= form_for([@gear_list, @gear_list.gear_items.build], remote: true ) do |f| %>
		<%= f.text_field :item_name, autofocus: true, placeholder:
		"Patagonia Jacket etc.", id: "gear_items"  %>
		<%= f.submit "Add Gear Item", class: "button button_fade" %>
	<% end %>
</div>

<script>
	var options = {
		data: [ 
						"Patagonia Nanopuff Jacket", 
					  "MSR Whisperlite Stove",
					  "MSR Hubba Hubba Tent",
					  "MSR Dromedary Bag",
					  "MSR Dromedary Bags",
					  "MSR Alpine 2 Stainless Steel Pot Set",
					  "MSR Hydration Kit",
						"MSR Hydration Kit - For Use with Any MSR Bag",
						"MSR Dromlite Bags",
						"A BIG Boy",
						"MSR Alpine 4 Stainless Steel Pot Cookset",
						"MSR Hydromedary Hydration Bag",
						"MSR Spigot Cap",
						"MSR HyperFlow Microfilter",
						"MSR Fuel Pump",
						"MSR Snowshoe Bag",
						"MSR XGK EX Multi-Fuel Stove",
						"MSR Lightning Ascent Snowshoe - Mens",
						"MSR Lightning Ascent Snowshoe - Womens",
						"MSR MiniGroundhog Tent Stake Kit",
						"MSR Flex 3 Cooking System",
						"MSR WindPro II Stove",
						"MSR MicroRocket Stove",
						"MSR Titan Titanium Fork and Spoon",
						"MSR Titan Titanium Kettle",
						"MSR DragonFly Stove",
						"MSR Reactor 1.7L Stove System",
						"MSR PocketRocket Stove",
						"MSR WindBurner 1.0L Personal Stove System",
						"MSR Revo Trail Snowshoe - Mens",
						"MSR Elixir 3 Tent: 3-Person 3 Season",
						"MSR Hubba Hubba NX Tent 2-Person 3-Season",
						"MSR Lightning Explore Snowshoe - Mens",
						"MSR Whisperlite Universal Stove",
						"MSR Folding Utensils",
						"MSR Alpine Kitchen Knife",
						"MSR Flex 4 Cooking System",
						"MSR Quick 2 Cooking System",
						"MSR Trail Lite Duo System",
						"MSR Alpinist 2 System",
						"MSR Reactor 2.5L Stove System",
						"MSR Reactor 1.0L Stove System",
						"MSR Aquatabs Purification Tablets",
						"MSR WhisperLite International Multi-Fuel Stove",
						"MSR Lightning Snowshoe Flotation Tail",
						"MSR Alpine Folding Utensils",
						"Patagonia Nine Trails 8in Short - Mens",
						"Patagonia Lightweight Full-Zip Hoodie - Mens",
						"Patagonia Know More Need Less Midweight Pullover Hoodie - Mens",
						"Patagonia Velocity Running Tights - Mens",
						"Patagonia Insulated Better Sweater Full-Zip Hoodie - Mens",
						"Patagonia P6 Logo Midweight Full-Zip Hoodie - Mens",
						"Patagonia Line Logo Midweight Pullover Hoodie - Mens",
						"Patagonia Wind Shield Hybrid Pant - Mens",
						"Patagonia Capilene Daily T-Shirt - Short-Sleeve - Mens",
						"Patagonia Coastal Range Lightweight Full-Zip Hoodie - Mens",
						"Patagonia Fitz Roy Trout Midweight Full-Zip Hoodie - Mens",
						"Patagonia Capilene Lightweight T-Shirt - Short-Sleeve - Mens",
						"Patagonia Glacier Waves Midweight Full-zip Hoodie - Mens",
						"Patagonia Merino Daily T-Shirt - Short-Sleeve - Mens",
						"Patagonia Stained Glassy Lightweight Pullover Hoodie - Mens",
						"Patagonia Torpedo Crew Lightweight Full-zip Hoodie - Mens",
						"Patagonia Thermal Speedwork Zip-Neck Top - Mens",
						"Patagonia Wind Shield Hybrid Jacket - Mens",
						"Patagonia Merino Daily T-Shirt - Long-Sleeve - Mens",
						"Patagonia Capilene Daily T-Shirt - Long-Sleeve - Mens",
						"Patagonia Sunshade Crew - Long-Sleeve - Mens",
						"Patagonia Merino Lightweight T-Shirt - Short-Sleeve - Mens",
						"Patagonia Trail Chaser 5in Running Short - Mens",
						"Patagonia Torpedo Crew Full-Zip Hoodie - Mens",
						"Patagonia Merino 1 Silkweight T-Shirt - Short-Sleeve - Mens",
						"Patagonia Capilene 1 Silkweight T-Shirt - Short-Sleeve - Mens",
						"Patagonia A/C Pullover Hoodie - Mens",
						"Patagonia Ultralight Down Vest - Mens",
						"Patagonia P-6 Stretch Polo Shirt - Mens",
						"Patagonia Merino 1 Silkweight Crew - Long-Sleeve - Mens",
						"Patagonia Brushed Badge Full-Zip Hoodie - Mens",
						"Patagonia Flying Fish Full-Zip Hoodie - Mens"
					],

					list: {
						maxNumberOfElements: 15,
						match: {
							enabled: true
						}
					}
	};

	$("#gear_items").easyAutocomplete(options);
</script> 