<div id="new_gear_list" class="wrapper_wide">
	<div class="center">
		<h1>What did you bring on your ventur?</h1>
		<hr class="hr_short">
		<p class="text_muted">Share what you brought to make your trip happen. This enables others to gear up for their own adventures, while passively raising money for a cause of your choice!</p>
	</div>
	<div>
		<div id="add_gear_items">
			<%= render 'gear_lists/form' %>
		</div>
	</div>
</div>