<div class="wrapper">
	<div id="gear_items_wrapper">
		<h1 class="center"><%= @gear_list.title %></h1>
		<%= render @gear_list.gear_items %>
		<div id="add_gear_items">
			<p>Add items to your gear list:</p>
			<%= render 'gear_items/form' %>
		</div>
	</div>
</div>