<%= render 'layouts/header' %>

<div id="journals" class="cf">
	<ul class="cf">
		<% @journals.each do |journal| %>
			<%= link_to journal do %>
				<li>
					<div class="journal_overview">
						<h2><%= journal.title %></h2>
						<p class="description"><%= truncate(journal.description, length: 140) %></p>
						<p class="chapter_count">2 Chapters</p>
					</div>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>