<div id="journals" class="cf">
	<ul class="cf">
		<% @journals.each do |journal| %>
			<%= link_to journal do %>
				<li>
					<% @journals.each do |journal| %>
						<%= journal.title %>
						<%= truncate(journal.description, length: 140) %>
					<% end %>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>

	