/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$white: #FFFFFF;
$highlight: #c6e2d9;
$dark: #24363A;
$light: #EDEFF5;
$light-grey: #EFF0F0;
$medium-grey: #bfc0c0;


@import 'normalize';
@import 'journals';
@import 'welcome';

.cf:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body {
	font-family: 'Lato', sans-serif;
}

.wrapper_wide {
	width: 90%;
	margin: 0 auto;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_skinny {
	width: 50%;
	margin: 0 auto;
}

.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.hr_short {
	width: 60%;
  height: 1px;
  border: 0;
  border-top: 1px solid $light-grey;
}

.button {
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-decoration: none;
  line-height: 27px;
  border-radius: 1px;
  padding: 1rem 2.5rem;
  background: transparent;
  color: $medium-grey;
  border: 3px solid $medium-grey;
}

.button_highlight {
	background: transparent;
	transition: background .3s ease-in-out;
	&:hover {
		background: darken($highlight, 7.5%);
	}
}

.button_white {
	color: $medium-grey;
	background: transparent;
	transition: color .3s ease-in-out;
	&:hover {
		color: lighten($medium-grey, 75%);
	}
}

.button_block {
	display: block;
	margin: 0 auto;
}

#main_header {
	color: $highlight;
	background: $white;
	padding: 2.5rem 0;
	#logo {
		float: left;
		text-transform: uppercase;
		font-weight: 700;
		text-decoration: none;
		color: $dark;
		letter-spacing: 3px;
	}
	nav {
		float: right;
		ul {
			list-style: none;
			margin: 0;
			li {
				display: inline;
				margin-left: 2.5rem;
				a {
					color: $dark;
					text-decoration: none;
					transition: color .2s ease-in-out;
					&:hover {
						color: lighten($dark, 20%);
					}
				}
			}
		}
	}
}






