/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$white: #FFFFFF;
$highlight: #c6e2d9;
$dark: #454243;
$light: #EDEFF5;
$light-grey: #EFF0F0;
$medium-grey: #bfc0c0;


@import 'normalize';
@import 'journals';
@import 'welcome';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "gear_lists";

.cf:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body {
	font-family: 'Lato', sans-serif;
}

.text_muted {
	color: lighten($dark, 30%);
	font-weight: 300;
	font-size: 1.2rem;
}

.wrapper_wide {
	width: 90%;
	margin: 0 auto;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_skinny {
	width: 50%;
	margin: 0 auto;
}

.center {
	text-align: center;
}

.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

#notice_wrapper {
	width: 100%;
	position: absolute;
	background: rgba(208,103,82, 0.8);
	z-index: 999;
	p {
		color: $white;
		text-align: center;
		font-weight: 700;
		font-size: 1.25rem;
		padding: 1.5rem 0;
	}
}

.hr_short {
	width: 60%;
  height: 1px;
  border: 0;
  border-top: 1px solid $light-grey;
}
.hr_wide {
	width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px solid $light-grey;
}

.button {
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-decoration: none;
  line-height: 27px;
  border-radius: 1px;
  padding: 1rem 2.5rem;
  background: transparent;
  color: $medium-grey;
  border: 3px solid $medium-grey;
}

.button_highlight {
	border: 3px solid $dark;
	color: $dark;
	background: transparent;
	transition: .2s ease-in-out;
	&:hover {
		background: lighten(tomato, 7.5%);
	}
}

.button_white {
	color: $medium-grey;
	background: transparent;
	transition: .3s ease-in-out;
	&:hover {
		border: 3px solid lighten($medium-grey, 75%);
		color: lighten($medium-grey, 75%);
	}
}

.button_dark {
	border: 3px solid $dark;
	color: $dark;
	background: transparent;
	transition: .2s ease-in-out;
	&:hover {
		background: $dark;
		border: 3px solid $dark;
		color: white;
	}
}

.button_fade {
	border: 3px solid darken($medium-grey, 30%);
	color: darken($medium-grey, 30%);
	background: transparent;
	transition: .2s ease-in-out;
	&:hover {
		border: 3px solid darken($medium-grey, 40%);
		color: darken($medium-grey, 40%);
	}
}

.button_block {
	display: block;
	margin: 0 auto;
}

#main_header {
	color: $highlight;
	background: $white;
	padding: 2.2rem 0;
	#logo {
		float: left;
		text-transform: uppercase;
		font-weight: 700;
		text-decoration: none;
		color: $dark;
		letter-spacing: 3px;
		padding-top: .4rem;
	}
	.toggle-panel {
		float: right;
		font-size: 1rem;
		i {
			color: lighten($dark, 22%);
		}
	}
	nav {
		float: right;
		background: lighten($dark, 60%);
		ul {
			list-style: none;
			padding: 6rem 2rem;
			margin: 0 -.3rem;
			li {
				display: block;
				padding: .5rem 0;
				margin-left: .4rem;
				a {
					color: $dark;
					text-decoration: none;
					transition: color .2s ease-in-out;
					&:hover {
						color: lighten($dark, 20%);
					}
				}
			}
		}
	}
	.user_not_logged_in {
		background: $white;
		ul {
			padding: 0 0;
			li {
				display: inline-block;
			}
		}
	}
}

#footer {
	.color: $highlight;
	background: $white;
	padding: 2.5rem 0 .6rem 0;
	text-align: center;
	p {
		color: darken($medium-grey, 22%);
		font-size: .5rem;
	}
	#links {
		padding-top: 1rem;
		a {
			display: inline-block;
			padding-top: .5rem;
			text-transform: uppercase;
			font-weight: 700;
			font-size: .8rem;
			text-decoration: none;
			color: $medium-grey;
			letter-spacing: 1px;
			transition: color .2s ease-in-out;
			&:hover {
				color: darken($medium-grey, 25%);
			}
		}
	}
}

.field {
	margin: .5rem 0 1.5rem 0;
}

input[type="email"], input[type="text"], input[type="password"], textarea {
	width: 100%;
	height: 3.5rem;
	padding: .35rem 1rem;
	background: $light;
	border: none;
	border-radius: 0;
	margin-top: .5rem;
	box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus {
  outline: 2px solid darken($light, 5%);
}
button:focus {
  outline: none;
}
.button_dark:focus {
	outline: none;
	background: $dark;
	border: 3px solid white;
	color: white;
}
.button_fade:focus {
	outline: none;
	border: 3px solid darken($medium-grey, 40%);
	color: darken($medium-grey, 40%);
}

textarea {
	min-height: 8rem;
	padding-top: .8rem;
	margin-top: .5rem !important;
	line-height: 1.5 !important;
}

#form {
	padding: 0 0 5rem 0;
	.wrapper_skinny {
		width: 80%;
		margin: 0 auto;
		.half_width {
			width: 50%;
			display: inline-block;
			float: left;
		}
		h2 {
			text-align: center;
		}
		p {
			text-align: center;
			color: darken($medium-grey, 15%);
		}
		a {
			text-decoration: none;

			color: darken($medium-grey, 25%);
			&:hover {
						color: lighten($dark, 20%);
					}
		}
	} 
}


/* PROFILE */
#profile_cover {
	background-image: linear-gradient(0deg, #000 -65%, transparent 99.9%),
	image-url("camp.jpg");
	background-size: absolute;
	background-repeat: no-repeat;
	background-position: center;
	min-width: 100%;
	min-height: 26rem;
	.info {
		text-align: center;
		min-height: 22rem;
		.profile_img {
			margin-top: 2rem;
			border: 5px solid $medium-grey;
			border-radius: 50%;
			width: 8rem;
		}
		h1 {
			color: $white;
		} 
		p {
			display: inline-block;
			padding-left: .5rem;
			margin-top: -.6rem;
			color: lighten($dark, 35%);
			transition: color .2s ease-in-out;
			&:hover {
				color: lighten($dark, 45%);
			}
		}
		.funds {
			color: lighten($dark, 65%);
			transition: color .2s ease-in-out;
			&:hover {
				color: lighten($dark, 75%);
			}
		}
	}
}


/* ERROR MESSAGES */
#error_explanation {
  text-align: center;
  padding: 1.5rem 3rem;
  margin: 2rem auto;
  width: 30%;
  display: inline-block;
  background: rgba(208,103,82,0.8);
	li {
		list-style: none;
  margin-left: -3rem;
  font-size: 1.2rem;
  color: white;
	}
}

/* RESPONSIVE! */
@media screen and (min-width: 920px) {
  #profile_cover {
  	background-size: cover;
  }
}

@media screen and (min-width: 625px) {
	#form {
		.wrapper_skinny {
			width: 40%;
		}
	}
	#profile_cover {
		.info {
			float: left; 
			padding: 2rem 10%;
			text-align: left;
			.profile_img {
				margin-top: 2rem;
				width: 9rem;
			}
			p {
				padding: .2rem 0;
				margin: 0 0;
			}
		}
	}
}


