$white: #FFFFFF;
$highlight: #c6e2d9;
$dark: #454243;
$light: #EDEFF5;
$light-grey: #EFF0F0;
$medium-grey: #bfc0c0;

.gear_list_title {
	text-align: left;
	font-weight: 700;
	font-size: 1.4rem;
	text-transform: none;
	color: white;
	margin: .5rem 0;
	padding-bottom: .6rem;
	border-bottom: 1px solid $light-grey;
	a {
		text-decoration: none;
		color: $dark;
		transition: all .2s ease-in-out;
		&:hover {
			opacity: 0.8;
		}
	}
}

#gear_items_wrapper {
	text-align: center;
	h1 {
		padding: 0 0 1rem 0;
	}
	ul {
		list-style: none;
		margin-left: -3rem;
	}
	.gear_item {
		display: inline-block;
		width: 100%;
		border-bottom: 1px solid $medium-grey;
		p {
			margin: 0;
			float: left;
			padding: 1em 0;
			font-weight: 300;
			color: $dark;
		}
		.trash {
			width: 20%;
			text-align: center;
			border-left: 1px solid $medium-grey;
			padding: 1em 0;
			float: right;
			i {
				color: $dark;
				transition: .2s ease-in-out;
				&:hover
				{
					color: lighten($dark, 20%);
				}
			}
		}
	}
	#add_gear_items {
		p {
			margin-top: 5rem;
			float: left;
		}
		.button {
			padding: .7rem .9rem;
			margin: 2rem auto 4rem auto;
		}
	}
}
#gear_list_form {
	text-align: center;
	background: lighten($medium-grey, 20%);
  padding: 5rem 0;
	margin: 3rem 0 3rem 0;
	input[type="text"] {
		background: $white;
		margin: 0 auto 3rem auto;
		width: 100%;
	}
	p {
		margin: 3rem 0 0 0;
		text-align: center;
	}
	.button {
		padding: .7rem .9rem;
	}
}
#gear_item_form {
	text-align: center;
	background: lighten($medium-grey, 20%);
  padding: 5rem 0;
	margin: 3rem 0 3rem 0;
	input[type="text"] {
		background: $white;
		margin: 1.5rem auto 0 auto;
		width: 100%;
	}
	h2 {
		color: $dark;
		margin: 3rem 0 0 0;
		text-align: center;
	}
	.button {
		padding: .7rem .9rem;
		margin: 2.5rem 0 0 0;
	}
}
.delete {
	a {
		color: darken($medium-grey, 15%);
		text-decoration: none;
		padding: 1rem 1rem;
		transition: .2s ease-in-out;
		&:hover {
			color: tomato;
		}
	}
}

/* RESPONSIVE */
@media screen and (min-width: 625px) {
	#gear_items_wrapper {
		.gear_item {
			.trash {
				width: 10%;
			}
		}
	}
	#gear_item_form {
		text-align: center;
		background: lighten($medium-grey, 20%);
	  padding: 2.5rem 0;
		margin: 3rem 0 3rem 0;
		input[type="text"] {
			background: $white;
			width: 100%;
		}
		.button {
			padding: .7rem .9rem;
		}
	}
}
