// Place all the styles related to the journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white: #FFFFFF;
$highlight: #c6e2d9;
$light: #EDEFF5;
$dark: #454243;
$sunset: #DA7C63;
$medium-grey: #bfc0c0;


#categories {
	border-top: 1px solid lighten($dark, 45%);
	text-align: center;
	background: lighten($dark, 65%);
	padding: 1.2rem 0;
	a {
		text-transform: uppercase;
		padding: .5rem;
		color: $dark;
		text-decoration: none;
		transition: .2s ease-in-out;
		&:hover {
			color: darken($highlight, 25%);
		}
	}
}

#journals {
	padding-bottom: 3rem;
	ul {
		list-style: none;
		padding-left: 0;
		margin: 0;
		Li {
			width: 100%;
			min-height: 18rem;
			float: left;
			margin: 0 0;
			-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
			img { 
				width: 100%;
				max-width: 100%;
				border-radius: 0 0;
			}
			.journal_overview {
				padding: 1rem 7.5%;
				a {
					text-decoration: none;
				}
				h2 {
					font-weight: 700;
					font-size: 1.4rem;
					color: $dark;
				}
				p {
					display: inline-block;
					color: $dark;
				}
				.description {
					min-height: 6rem;
				}
				.date {
					font-size: .7rem;
				}
				.author {
					padding-top: 3rem;
					a {
						font-weight: 700;
						color: lighten($dark, 20%);
						font-size: .9rem;
						transition: color .2s ease-in-out;
						&:hover {
							color: lighten($dark, 10%);
						}
					}
				}
				.chapter_count {
					font-size: .8rem;
					color: lighten($dark, 50%);
					margin: 0 0 0 .4rem;
				}
			}
			&:hover {
				h2, p {
					transition: color .2s ease-in-out;
					color: lighten($dark, 20%);
				}
			}
		}
	}
}

#journal_show {
	#cover {
		height: 90vh;
	}
	.wrapper {
		padding: 2rem 2rem;
	}
	h1 {
		font-size: 2.1rem;
		color: $white;
		font-weight: lighter;
	}
	.description {
		color: $light;
		font-weight: lighter;
		font-size: 1.1rem;
	}
	.date {
		margin-top: -1rem;
		color: $medium-grey;
	}
	span {
		color: $white;
	}
	.author {
		text-align: center;
		color: lighten($medium-grey, 20%);
		text-decoration: none;
		font-size: 1.2rem;
		padding: 0;
		margin-top: 0%;
	}
	#follow_button {
	border: 3px solid $sunset;
	color: $sunset;
	background: transparent;
	padding: .7rem .3rem;
	display: block;
	margin: 0 auto;
	width: 6rem;
	text-align: center;
	transition: .2s ease-in-out;
		&:hover {
			border: 3px solid darken($white, 20%);
			color: darken($white, 20%);
		}
	}
	a {
		color: lighten($medium-grey, 20%);
		text-decoration: none;
		font-size: 1.2rem;
		padding: 0;
		margin-top: 2rem;
		transition: .2s ease-in-out;
		&:hover {
			color: darken($medium-grey, 15%);
		}
	}
	.cover_links {
		text-align: center;
		font-size: .1rem;
		color: $white;
		width: 100%;
		list-style: none;
		padding: 1.3rem 0;
		margin: 0 auto;
		hr {
			display: none;
		}
		li {
			min-width: 5rem;
			display: inline-block;
			padding: 0 .6rem;

			font-weight: 100;
			transition: .2s ease-in-out;
			&:hover {
			color: darken($white, 20%);
			}
			a {
				font-size: 1rem;
			}
		}
		.li_with_border-right {
			border-right: 1px solid $sunset;
		}
	}
	#add_chapter_button {
	border: 3px solid darken($medium-grey, 30%);
	color: darken($medium-grey, 30%);
	background: transparent;
	padding: .8rem 1.5rem;
	display: block;
	margin: 2rem auto;
	width: 10rem;
	text-align: center;
	transition: .2s ease-in-out;
		&:hover {
			border: 3px solid darken($medium-grey, 40%);
			color: darken($medium-grey, 40%);
		}
	}
}

/* RESPONSIVE! */

@media screen and (min-width: 425px) {

}

@media screen and (min-width: 625px) {
  #journals {
		ul {
			li {
				width: 50%;
			}
		}
  }
  #journal_show {
		.wrapper {
			float: left; 
			padding: 6rem 10%;
			text-align: left;
			h1 {
				font-size: 3.6rem;
				font-weight: lighter;
			}
			p {
				padding: .2rem 0;
				margin: 0 0;
				max-width: 70%;
			}
			.date {
				margin-bottom: 20vh;
				color: $medium-grey;
			}
			.author {
				margin-top: 4rem;
				text-align: left;
			}
			#follow_button {
				margin: 0;
				float: left;
			}
			.cover_links {
				padding: 0 0;
				display: inline-block;
    		float: right;
    		margin-top: -3rem;
    		width: 10rem;
				hr {
					width: 10rem;
					display: block;
				}
				li {
					font-size: 1rem;
					display: inline-block;
					padding: 0;
					font-weight: 100;
					transition: .2s ease-in-out;
					&:hover {
					color: darken($white, 20%);
					}
				}
				/* taked out the orange | characters */
				.li_with_border-right {
					border-right: 0 solid $sunset;
				}
			}
		}
  }
}

@media screen and (min-width: 950px) {
  #journals {
		ul {
			li {
				width: 33.3333%;
			}
		}
  }
}



