// Place all the styles related to the journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white: #FFFFFF;
$highlight: #c6e2d9;
$light: #EDEFF5;
$dark: #454243;
$medium-grey: #bfc0c0;


#journals {
	padding-bottom: 3rem;
	ul {
		list-style: none;
		padding-left: 0;
		margin: 0;
		Li {
			width: 100%;
			min-height: 18rem;
			float: left;
			margin: 0 0;
			-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
			img { 
				width: 100%;
				max-width: 100%;
				border-radius: 0 0;
			}
			.journal_overview {
				padding: 1rem 7.5%;
				a {
					text-decoration: none;
				}
				h2 {
					font-weight: 700;
					font-size: 1rem;
					color: $dark;
				}
				p {
					display: inline-block;
					color: $dark;
				}
				.author {
					padding-top: 3rem;
					a {
						font-weight: 700;
						color: lighten($dark, 20%);
						font-size: .9rem;
						transition: color .2s ease-in-out;
						&:hover {
							color: lighten($dark, 10%);
						}
					}
				}
				.chapter_count {
					font-size: .8rem;
					color: lighten($dark, 50%);
					margin: 0 0 0 .4rem;
				}
			}
			&:hover {
				img { 
					opacity: .9;
					transition: .2s ease-in-out;
				}
				h2 {
					transition: color .2s ease-in-out;
					color: lighten($dark, 20%);
				}
			}
		}
	}
}

#journal_show {
	a {
		color: $medium-grey;
		text-decoration: none;
		padding: 0 0 0 .4rem;
		transition: .2s ease-in-out;
		&:hover {
			color: darken($medium-grey, 15%);
		}
	}
}

/* RESPONSIVE! */

@media screen and (min-width: 625px) {
  #journals {
		ul {
			li {
				width: 50%;
			}
		}
  }
}

@media screen and (min-width: 950px) {
  #journals {
		ul {
			li {
				width: 33.3333%;
			}
		}
  }
}



