$white: #FFFFFF;
$highlight: #c6e2d9;
$dark: #454243;
$light: #EDEFF5;
$light-grey: #EFF0F0;
$medium-grey: #bfc0c0;

#background {
	background-image: linear-gradient(#000 -95%, transparent 99.9%),
	image-url("camp.jpg");
	height: 100vh;
	background-size: absolute;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	min-width: 100%;
	header {
		padding: 3rem 0;
		#logo {
			float: left;
			text-transform: uppercase;
			font-weight: 700;
			text-decoration: none;
			color: $white;
			letter-spacing: 3px;
		}
		nav {
			float: right;
			ul {
				list-style: none;
				margin: 0;
				li {
					display: inline;
					margin-left: .5rem;
					a {
						color: $white;
						text-decoration: none;
						transition: color .3s ease-in-out;
						&:hover {
							color: darken($white, 7.5%);
						}
					}
				}
			}
		}
	}
	h1 {
		color: $white;
		font-weight: 300;
		font-size: 1.9rem;
		letter-spacing: 1px;
		margin: .3rem 0 3rem 0;
	}
	.button {
	  padding: .8rem 1.7rem;
	}
}

#vision {
	width: 100%;
	padding: 3rem 0;
	h2 {
		font-size: 1.7rem;
		text-align: center;
		color: lighten($dark, 15%)
	}
	p {
		text-align: center;
		font-size: 1.2rem;
		font-weight: 300;
		color: lighten($dark, 35%)
	}
}

#gear_list {
	width: 100%;
	padding: 5rem 0;
	background-image: -webkit-linear-gradient(#000 -75%, transparent 99.9%), image-url("gear-list.jpg");
	background-image: -o-linear-gradient(#000 -75%, transparent 99.9%), image-url("gear-list.jpg");
	background-image: linear-gradient(#000 -75%, transparent 99.9%), image-url("gear-list.jpg");
	background-size: cover;
	background-position: center center;
	max-height: 60vh;
	.col-md-4 {
		color: $white;
		text-align: center;
		text-shadow: 2px 1px 10px rgba(0,0,0, 0.2);
		h2 {
			font-size: 1.5rem;
		}
		p {
			font-size: 1.1rem;
			font-weight: 300;
			b {
				letter-spacing: 1px;
			}
		}
	}
}
#iphone {
	width: 100%;
	padding: 5rem 0 0 0;
	text-align: center;
	background-image: -webkit-linear-gradient(#000 -95%, transparent 99.9%), image-url("biker.jpg");
	background-image: -o-linear-gradient(#000 -95%, transparent 99.9%), image-url("biker.jpg");
	background-image: linear-gradient(#000 -95%, transparent 99.9%), image-url("biker.jpg");
	background-size: cover;
	background-position: center center;
	min-height: 500px;
	.col-md-4-left {
		color: $white;
		text-shadow: 2px 1px 10px rgba(0,0,0, 0.2);
		h2 {
			font-size: 1.5rem;
		}
		p {
			font-size: 1.1rem;
			font-weight: 300;
			b {
				letter-spacing: 1px;
			}
		}
	}
	.iphone_image {
		display: block;
    margin: 0 auto;
    padding-top: 2rem;
    width: 66.6%;
    max-width: 400px;
	}
}


#how_it_works {
	width: 100%;
	padding: 3rem 0;
	h2 {
		font-size: 1.7rem;
		text-align: center;
		color: lighten($dark, 15%)
	}
	.col-md-4 {
		text-align: center;
		padding: 2rem 0;
		i	{
			color: lighten($dark, 55%);
		}
		h3 {
			font-size: 1.2rem;
			text-align: center;
			color: lighten($dark, 15%)
		}
		p {
			text-align: center;
			font-size: 1.2rem;
			font-weight: 300;
			color: lighten($dark, 35%)
		}
	}
}

#call_to_action {
	text-align: center;
	clear: both;
	.button {
		border: 3px solid $dark;
		color: $dark;
		background: transparent;
		transition: .2s ease-in-out;
		&:hover {
			background: $dark;
			border: 3px solid white;
			color: white;
		}
	}
	p {
		color: lighten($dark, 45%);
	}
	a {
		color: lighten($dark, 25%);
		text-decoration: none;
		transition: color .3s ease-in-out;
		&:hover {
			color: lighten($dark, 35%);
		}
	}
}
/* RESPONSIVE! */

@media screen and (min-width: 1900px) {
  #background {
  	height: 100vh;
  	background-size: cover;
  }
}


@media screen and (min-width: 865px) {
	#background {
		h1 {
			font-size: 1rem;
			margin: 4rem 0 3rem 0;
		}
	}
	#vision {
		.wrapper_wide {
			p {
				padding: 1rem 0;
				width: 50%;
				margin: 0 auto;
			}
		}
	}
	#gear_list {
		height: 60vh;
		.col-md-4 {
			width: 33.333%;
			float: right;
			text-align: left;
			padding: 3rem auto;
			h2 {
				font-size: 1.7rem;
			}
			p {
				margin: 0 0;
				font-size: 1.3rem;
			}
		}
	}
	#iphone {
		.col-md-4-left {
			margin-left: 3rem;
			width: 33.333%;
			float: left;
			text-align: left;
			padding: 4rem;
			h2 {
				font-size: 1.7rem;
			}
			p {
				margin: 0 0 2rem 0;
				font-size: 1.3rem;
			}
		}
		.iphone_image {
			margin-bottom: 0;
			padding: 0 0;
			.iphone_image {
    		width: 400px;
    	}
		}
	}
	#how_it_works {
		.col-md-4 {
			width: 33.333%;
			display: inline-block;
			float: left;
		}
	}
	#call_to_action {
		padding-top: 6rem;
	}
}

@media screen and (min-width: 550px) {
  #background {
  	height: 100vh;
		a {
			margin-left: 2.5rem;
		}
		.button {
			margin-left: 0;
		}
  	h1 {
			color: $white;
			font-weight: 300;
			font-size: 3.5rem;
			letter-spacing: 1px;
			margin: 7rem 0 4rem 0;
		}
  }
	.wrapper_wide {
		margin: 0 auto;
		.hr_short {
			width: 40%
		}
		p {
			padding: 1rem 0;
			width: 70%;
			margin: 0 auto;
		}
	}
}

