<div id="footer" class="wrapper_wide">
	<hr class="hr_wide">
		<div id="links">
			<%= link_to "Our story", root_path %> <br>
			<%= link_to "Get involved", root_path %> <br>
			<%= link_to "Contact", root_path %>
		</div>
	<p>&copy; ventur 2015</p>
	<div class="push"></div>
</div>
<div class="footer"></div>