<header id="main_header" class="cf">
	<div class="wrapper_wide">
		<%= link_to "ventur", root_path, id: "logo" %>
		<nav>
			<ul>
				<li><%= link_to "Explore", journals_path%></li>
				<li><a href="#">Sign In</a></li>
				<li><a href="#">Get Started</a></li>
			</ul>
		</nav>
	</div>
</header>